@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@300&family=Open+Sans:ital@0;1&family=Roboto&family=Source+Code+Pro:wght@300&family=Ubuntu:wght@300&family=Varela+Round&display=swap');

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  
}

body{
  font-family: roboto, sans-serif;
}